<html>
    <head>Blog Django Girls</head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>
        <div>
            <p>Publicado em 20/02/2019</p>
            <h2><a href="">Teste1</a></h2>
            <p>Mussum Ipsum, cacilds vidis litro abertis. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget. Detraxit consequat et quo num tendi nada. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Paisis, filhis, espiritis santis</p>
        </div>
        <div>
            <p>Publicado em 20/02/2019</p>
            <h2><a href="">Teste 2</a></h2>
            <p>Mussum Ipsum, cacilds vidis litro abertis. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget. Detraxit consequat et quo num tendi nada. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Paisis, filhis, espiritis santis</p>
        </div>
    </body>
</html>